<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <div class="col-md-5">
                        <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/me.JPG" alt="" style="margin-left:-30px;"><br />
                        </div>
                    </div>
                    <div class="col-lg-8 text-center">
                        <h3 class="section-subheading text-muted about">
                        <br />    
                        I am a front-end developer with experience in Ruby on Rails applications. With a passion for functional and beautiful design, I want to create things that are meaningful. That's what I enjoy most about working as a developer, the ability to take an idea and make it a reality. The tech industry is ever-evolving which makes it so fascinating and exciting to continuously learn and grow. <br /><br />

                        When I'm not coding, I love to travel and explore new places. I am an avid foodie who is also a fitness enthusiast. I workout so I can eat delicious food without feeling guilty! I strive to live a happy and healthy life and want to make a positive impact in the world. <br /><br />
                        
                        I'm currently open for opportunities in the Seattle area. You can contact me <a href="#contact">below</a>, or just email me at <a href="mailto:jspark721@gmail.com" title="Email me" rel="me" target="_blank">jspark721@gmail.com</a>
                        
                        </h3>
                    </div>
                </div>
            </div>
            
        </div>
    </section>