<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Front-End</h4>
                    <p class="text-muted">HTML<br> CSS<br> JavaScript<br> AngularJS<br> jQuery<br> AJAX </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Back-End</h4>
                    <p class="text-muted">Ruby<br> Ruby on Rails<br> Github <br>  API<br> Heroku </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paint-brush fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Design</h4>
                    <p class="text-muted">Photoshop<br> Sketch<br> Illustrator<br> InDesign<br> </p>
                </div>
            </div>
        </div>
    </section>